.container {
    text-align: center;
   
}

.btn {
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    transition: background-color 1s;
    
}

.red {
   background: linear-gradient(100deg,  crimson,  yellow);
   border-radius: 5px;
}

.blue {
    background: linear-gradient(100deg,  aqua,  blue);
    border-radius: 5px;
}

.green {
    background: linear-gradient(100deg,  rgb(153, 239, 99),  green);
    border-radius: 5px;
}

.purple {
    background: linear-gradient(100deg,  rgb(117, 9, 117),  rgb(195, 72, 195));
    border-radius: 5px;
}

.orange {
 color: black;
 border-radius: 5px;
}
button:hover{
    background:linear-gradient(rgb(19, 191, 145), aqua);
}


